<div id="about-wrapper">
  <div id="about-logo"></div>
  <div id="about-text">
    <%= "Profsquire was created by the Computer Programming Club at Santa Monica College. It was designed with the intention of helping new and veteran students learn about services SMC has to offer and to help students when enrollment time comes around. Right now our focus is on creating the best environment for students to get help with enrollment. We are currently working on adding more functionality to the site so students can get more out of it. Hang tight, there's more to come. Thanks for visiting.<BR>dsaf"%>
  </div>
</div>