<div id="contact-wrapper">
  <div id="contact-logo"></div>
  <div id="contact-text">
    <%= "Questions? Comments? We want to hear from you."%>
  </div>
</div>

<%= javascript_include_tag 'application.js' %>