<header class="smc-header">
  <p> <%= image_tag ("Logo.png")%></p><h1>PROFSQUIER<span>Your inside guide for Santa Monica Collegeeerr</span></h1>
</header>


<!-- SEARCH BAR-->
<div class="main"><div id="sb-searchtwo" class="sb-searchtwo">
  <form>
    <input class="sb-searchtwo-inputtwo" placeholder="Search Professors. . " type="text" value="" name="search" id="search">
    <input class="sb-searchtwo-submittwo" type="submit" value="">
    <span class="sb-icontwo-searchtwo"></span>
  </form>
</div></div>
