<div id="content-wrapper">
  <div id="index-logo"></div>
  <div id="index-name">Profsquire</div>
  <div id="index-slogan">Your Guide to Santa Monica College</div>
</div>

<%= javascript_include_tag 'application.js' %>