<div id="professors-list-wrapper">

  <div id="professors-list-filters-box">
    <div id="professors-logo"></div>
    <div id="professors-filter-area">this is where a search bar and filter pull downs need to go, the border will be removed FYI</div>
  </div>

  <div id ="professors-list-content-box">

    <div id="professors-list-top-subjects">
      <div id="professor-name">Name</div>
      <div id="professor-subject">Subject</div>
      <div id="professor-rating">Rating</div>

    </div>

      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
      <div id="contents">Professor Name:</div>
  </div>
</div>

<%= javascript_include_tag 'application.js' %>