*{
    margin: 0;
}

body{
    background: url(Background.jpg) fixed, center, #fff;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#canvas{
    position: fixed;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 0;
}

/*---------------------Navigation-----------------------*/

#nav{
    top: 0;
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 2px 2px -2px gray;
    z-index: 100;
}

#burger{
    margin-top: 8px;
    margin-left: 10px;
    width: 45px;
    height: 45px;
    background-image: url(Side-Menu-Icon.png);
    float: left;
}

#navigation-logo{
    margin-top: 4px;
    height: 53px;
    width: 252px;
    background-image: url(Nav-Bar-Logo.png);
    display: block;
    vertical-align: middle;
    margin-left: 15px;
    float: left;
}

#nav-facebook-logo{
    height: 54px;
    width:54px;
    background-image: url(Facebook-Icon-black.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    float: right;
}

#nav-twitter-logo{
    height: 54px;
    width:54px;
    background-image: url(Twitter-Icon-black.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    float: right;
}

#nav-facebook-logo:hover{
    background-image: url(Facebook-Icon-blue.png);
}

#nav-twitter-logo:hover{
    background-image: url(Twitter-Logo-blue.png);
}

/*--------------------Index Content---------------------*/

#content-wrapper{
    width: 100%;
    display: block;
    position: relative;
    margin-top: 10%;
    z-index: 99;
}

#index-logo{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 291px;
    height: 291px;
    background-image: url(Logo.png);
}

#index-name{
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 65px;
    letter-spacing: 3px;
    color: #fff;
}

#index-slogan{
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    color: #fff;
}

/*---------------------About Page-----------------------*/

#about-wrapper{
    margin-top: 130px;
    padding-top: 35px;
    width: 100%;
    height: 515px;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    color: #000;
}

#about-logo{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url(Logo-Sidebar-Gray.png);
}

#about-text{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
    width: 700px;
    color: #444;
}

/*--------------------Contact Page-----------------------*/

#contact-wrapper{
    margin-top: 130px;
    padding-top: 35px;
    width: 100%;
    height: 515px;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 25px;
    color: #000;
}

#contact-logo{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url(Logo-Sidebar-Gray.png);
}

#contact-text{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
    width: 700px;
    color: #444;
}

/*---------------------Professors List Page-----------------------*/

#professors-list-wrapper{
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    z-index: 1;
}

#professors-list-filters-box{ /*this is the container to the filter area*/
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 30px;
    padding-top: 15px;
    width: 990px;
    height: 185px;
    background-color: #ffffff;
}

#professors-logo{
    margin-left: 45px;
    background-repeat: no-repeat;
    position: relative;
    width: 170px;
    height: 170px;
    background-image: url(Logo-Sidebar-Gray.png);
    float: left;
}

#professors-filter-area{/*this is where the filter pull downs go and search bar*/
    margin-left: 40px;
    width: 700px;
    height: 170px;
    border-style: solid;
    border-width: 1px;
    float: left;
    z-index: 90;
}

#professors-list-content-box{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 990px;
    background-color: #fff;
}

#professors-list-top-subjects{
    margin-right: auto;
    margin-left: auto;
    padding-top: 40px;
    position: relative;
    width: 810px;
    height: 40px;
}

#professor-name{
    width: 270px;
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 35px;
    top:50%;
    float: left;
    text-align: left;
}

#professor-subject{
    width: 270px;
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 35px;
    top:50%;
    float: left;
    text-align: center;
}

#professor-rating{
    width: 270px;
    color: #444;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 35px;
    top:50%;
    float: left;
    text-align: right;
}

/*--Remove when rails is used--*/
#contents{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 50px;
    border-bottom-style: solid;
    border-width: 1px;
    border-bottom-color: #999;
    line-height: 50px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #444;
}

#extra{
    width: 100%;
    height: 50px;
    background-color: red;
}
/*remove till here this is only for display purposes*/

/*-------------------Professor Page---------------------*/

#professor-stats-wrapper{
    margin-top: 150px;
    width: 100%;
    height: 350px;
    background-color: #fff;
}

#professor-profile{
    margin-right: auto;
    margin-left: auto;
    width: 500px; height: 200px;
    border: 1px solid #888;
    Background-color: #fff;
    border-radius: 15px;
    box-shadow: -1px 1px 2px #888888;
    position:relative;
    z-index: 1;
}

#professor-full-profile{
    width: 170px;
    height: 20px;
    text-align: center;
    font-size: 12px;
    border-radius: 40px;
    border: 1px solid #888;
    Background-color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position:relative;
    cursor: pointer;
}

#professor-full-profile:hover{
    color: #fff;
    Background-color: #CCC;
}

#x{
    border: 1px solid #888;
    Background-color: #fff;
    border-radius: 50px;
    margin-top: -164px;
    margin-right: 7px;
    float: right;
    position:relative;
    z-index: 10;
    cursor: pointer;
}

#x:hover{
    color: #fff;
    Background-color: #CCC;
}

#close{
    margin-right: 25px;
    margin-top: -35px;
    text-decoration: underline;
    float: right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position:relative;
    z-index: 2;
    cursor: pointer;
}

#content{
    width: 425px;
    height: 510px;
    background-color: #fff;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -110px;
    overflow: scroll;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position:relative;
    z-index: 0;
}

#professor-pop-top{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    opacity: 0.9;
    background-color: #fff;
    width: 450px;
    height: 150px;
    border-bottom: 1px solid #000;
    position:relative;
    z-index: 10;
}

#professor-name{
    margin-left: 50px;
    margin-top: -30px;
    font-size: 30px;
    top: 50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    position: relative;
    float: left;
}

#professor-pop-image{
    margin-left: 50px;
    float: left;
}

#professor-pop-bottom{
    margin-right: auto;
    margin-left: auto;
    margin-top: -35px;
    opacity: .9;
    background-color: #fff;
    width: 450px;
    height: 60px;
    border-top: 1px solid #000;
    position:relative;
    z-index: 1;
}

#category-container{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #999;
    font-size: 20px;
}

#category-container-bottom{
    width: 100%;
    height: 40px;
    font-size: 20px;
}

#category{
    position: relative;
    top: 20%;
    float: left;
}

#score{
    position: relative;
    top: 20%;
    color: #5cc7f2;
    float: right;
}