@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
	background: #ffffff; /* not main color background */
	color: #ffffff;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: #ffffff; 
	outline: none;
}

a:hover, a:focus {
	color: #8FB8DB;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}

.smc-header,
.smc-top {
	font-family: 'Lato', Arial, sans-serif;
}


/* header gradedistribution.org text centered */
.smc-header {
	margin: 0 auto 3em;
	padding: 0em;
	padding-bottom: 0;       
	text-align: center;
}

/* h1 style for main text, span for sub text in grey */
.smc-header h1 {         
	margin: 0;
	font-weight: 300;
	font-size: 2.625em;
	line-height: 1.3;
	text-shadow: 1px 1px 5px #000000,
+				 -1px -1px 5px #000000;
}

.smc-header span {
	display: block;
	padding: 0 0 0.6em 0.1em;
	font-size: 60%;
	color: #dfdfdf;
}

.smc-header img{

	width: 150px;
	height: 150px;

}
/*Navigation Bar */
.smc-top {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.90em;
	line-height: 1;
	font-weight: 400;
	background: rgba(255,255,255,0.6);
}

.smc-top a {
	display: inline-block;
	padding: 0.2em;
	text-decoration: none;
	letter-spacing: 0.1em;
}



.smc-top span.right {
	float: right;
}
.smc-top span.right a {
	display: block;
	float: left;
}

.smc-top span.left  {
	display: block;
	float: left;
}

.smc-top span.center {
	float: center;
}
.smc-top span.center a {
	padding: 0.6em 1.2em;
	max-width: 30em;
	margin: 0 auto;
}

.smc-top button {
	border: none;
	outline: none;
	float: left;
	padding: 2em 1.2em;
	max-width: 4em;
	background: url('../img/burger.png') center right no-repeat;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.smc-top button:hover{
	border: none;
	outline: none;
	float: left;
	padding: 2em 1.2em;
	max-width: 4em;
	background: url('../img/burger-hover.png') center right no-repeat;

	-webkit-transform: rotate(720deg);
	transform: rotate(720deg);
	transition: 2s;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}


/* search bar */
.main {
	float:center;
	max-width: 30em;
	margin: 0 auto;
	outline-style: solid;
    outline-width: 1px;
    outline-color: #8FB8DB;
}
.open-search {
	position: relative;
	margin-top: 0px;
	width: 0%;
	min-width: 60px;
	height: 60px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;
}



.sidebar-logo {

	display:block;
	padding-top: 1em;
	text-align:center;
	margin: 0 auto;
}

.sidebar-logo img{

	width: 100px;
	height: 100px;


}




@media screen and (max-width: 10em) {

	.smc-header {
		font-size: 80%;
	}

	.smc-top {
		font-size: 120%;
	}

	.smc-icon span {
		display: none;
	}

}

/* These are our social media icons, add any other fontfaces or icons below these */ 

@font-face {
	font-family: 'icomoonsocial';
	src:url('../fonts/icomoonsocial/icomoon.eot?-84dqcj');
	src:url('../fonts/icomoonsocial/icomoon.eot?#iefix-84dqcj') format('embedded-opentype'),
		url('../fonts/icomoonsocial/icomoon.woff?-84dqcj') format('woff'),
		url('../fonts/icomoonsocial/icomoon.ttf?-84dqcj') format('truetype'),
		url('../fonts/icomoonsocial/icomoon.svg?-84dqcj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="iconsocial-"], [class*=" iconsocial-"] {
	font-family: 'icomoonsocial';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.iconsocial-menu:before {
	content: "\e9bd";
}

.iconsocial-embed2:before {
	content: "\ea80";
}

.iconsocial-facebook3:before {
	content: "\ea8e";
}

.iconsocial-twitter3:before {
	content: "\ea93";
}

.iconsocial-github:before {
	content: "\eab1";
}

.glyph {
	font-size: 16px;
	width: 15em;
	padding-bottom: 1em;
	margin-right: 4em;
	margin-bottom: 1em;
	float: left;
	overflow: hidden;
}
.fs1 {
	font-size: 36px;
	color: #000000;
	cursor: pointer;

}
.fs2 {
	font-size: 36px;
	color: #000000;
	cursor: pointer;


}
