<header>
  <div id="nav">
    <div id="burger"></div>
    <a href="http://www.twitter.com"  title="Profsquire Home" id="nav-logo" target="_blank"></a>
    <a href="http://www.twitter.com" title="Profsquire Twitter" id="nav-twitter-logo" target="_blank"></a>
    <a href="http://www.facebook.com" title="Profsquire Facebook" id="nav-facebook-logo" target="_blank"></a>
  </div>
</header>

