<!DOCTYPE html>
<html>
    <head>
        <title>Profsquire - Your Guide to Santa Monica College</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>

    <script>
        var context;
        var w = window.innerWidth;
        var h = window.innerHeight;
        var x=Math.floor((Math.random() * w) + 1);
        var y=Math.floor((Math.random() * h) + 1);
        var dx;
        var dy;

        // Set the circle to move in a random direction
        switch(Math.floor((Math.random() * 4) + 1)) {
            case 1:
                dx=-.15;
                dy=-.15;
                break;
            case 2:
                dx=.15;
                dy=.15;
                break;
            case 3:
                dx=-.15;
                dy=.15;
                break;
            case 4:
                dx=.15;
                dy=-.15;
                break;
            default:
                dx=.15;
                dy=.15;
        }

        // supposed to set the canvas to the size of the window, not working correctly
        function windowsize(){
            var ctx = document.getElementById("canvas");
            ctx.width = window.outerWidth;
            ctx.height = window.innerHeight;
        }
        windowsize();

        function init() {
                context = canvas.getContext('2d');
                requestAnimationFrame(draw);              // start, see below
        }

        function draw() {
                context.clearRect(0, 0, w, h);
                context.beginPath();
                context.fillStyle = "rgba(255, 255, 255, 0.15)";
                // Draws a circle of radius 60 at the coordinates x, y on the canvas
                context.arc(x, y, 60, 0, Math.PI * 2, true);
                context.fill();

                // Boundary Logic
                if (x < 0 || x == w) dx = -dx;
                if (y < 0 || y == h) dy = -dy;
                x += dx;
                y += dy;

                requestAnimationFrame(draw);    // loop here
            }

        //for (i = 0; i < 6; i++){

        //}
        //x=Math.floor((Math.random() * 600) + 1);;
        //y=Math.floor((Math.random() * 600) + 1);;
    </script>


    <body onload="init()">
        <%= render "layouts/header"%>
        <%= yield %>
        <canvas id="canvas", width="1000", height="600"></canvas>
    </body>
</html>
