<!DOCTYPE html>
<html>
    <head>
        <title>Profsquire - Your Guide to Santa Monica College</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>

    <script>
        var context;
        var x=100;
        var y=200;
        var dx=.5;
        var dy=.5;


        function init() {
            context= circleCanvas.getContext('2d');
            requestAnimationFrame(draw);              // start, see below
        }

        function draw() {

            context.clearRect(0,0,1000,600);
            context.beginPath();
            context.fillStyle = "rgba(255, 255, 255, 0.5)";
            // Draws a circle of radius 20 at the coordinates 100,100 on the canvas
            context.arc(x,y,40,0,Math.PI*2,true);
            context.closePath();
            context.fill();

            // Boundary Logic
            if( x<0 || x>1000) dx=-dx;
            if( y<0 || y>600) dy=-dy;
            x+=dx;
            y+=dy;

            requestAnimationFrame(draw);    // loop here
        }

    </script>


    <body onload="init()">
        <%= render "layouts/header"%>
        <%= yield %>
        <canvas id="circleCanvas", width="1000", height="600">
        </canvas>

    </body>
</html>
