<!DOCTYPE html>
<html>
    <head>
        <title>Profsquire - Your resource to Santa Monica College</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <%= render "layouts/header"%>
        <%= yield %>
    </body>
</html>
