<!DOCTYPE html>
<html>
    <head>
        <title>Profsquire - Your Guide to Santa Monica College</title>
        <%= stylesheet_link_tag 'application', media: 'all' %>
        <%= csrf_meta_tags %>
    </head>

    <body onload="init()">
        <%= render "layouts/header"%>
        <%= yield %>
        <canvas id="canvas", width="1000", height="600"></canvas>
    </body>
</html>
