<!DOCTYPE html>
<html>
    <head>
        <title>Profsquire - Your resource to Santa Monica College</title>
        
        <%= csrf_meta_tags %>
      <%= stylesheet_link_tag :all %>
    </head>

    <body>
        <%= render "layouts/header"%>
        <%= yield %>
        <body background="background.jpg">
    </body>
</html>
